<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Nation News Survey</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
	{% block content %}
	{% endblock %}
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>