{% extends "default.html" %}
{% block content %}
<div class="container">
	<form>
		<h2>Tell us about yourself</h2>
		<input type="text" class="input-block-level" placeholder="Age">
		<input type="text" class="input-block-level" placeholder="Sex">
		<input type="text" class="input-block-level" placeholder="Location">
		<input type="text" class="input-block-level" placeholder="Native Language">
		<button class="btn btn-large btn-primary" type="submit">Get Started</button>
    </form>
</div>
{% endblock %}