{% extends "default.html" %}
{% block content %}
<div class="container">
	<form style="width:50%;">
		<h2>Tell us about yourself</h2>
		<input type="text" class="input-block-level" placeholder="Age">
		<input type="text" class="input-block-level" placeholder="Gender">
		<input type="text" class="input-block-level" placeholder="Country of Origin">
		<input type="text" class="input-block-level" placeholder="Country of Residence">
		<input type="text" class="input-block-level" placeholder="Native Language">
		<input type="text" class="input-block-level" placeholder="Level of Education">
		<button class="btn btn-large btn-primary" type="submit">Get Started</button>
    </form>
</div>
{% endblock %}